*.pyc
*~
bin/
log/
events/

# Setuptools intermediaries
threes_ai.egg-info/
build/

# autoconf intermediates
aclocal.m4
autom4te.cache/

# configure script output
config.h
config.log
config.status
Makefile

# Vscode files
.vscode